* {

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Arial';
    color: hsl(228, 12%, 48%);
    box-sizing: border-box;

}

body {

    background-color: hsl(30, 38%, 92%);

}

img {

    display: block;
    width: 100%;

}

.cart {

    max-width: 1em;
    margin-right: 5px;

}

/* Typography */

h1 {

    font-size: .75em;
    font-weight: 500;

}


h2 {

    color: hsl(212, 21%, 14%);

}

h2, 
.current-price {

    font-weight: 700;
    font-family: 'Fraunces';
    font-size: 2em;

}

p {

    line-height: 1.75em;
    font-size: .9em;

}

.current-price {

    color: hsl(158, 36%, 37%);

}

.old-price {

    text-decoration: line-through;
    margin-left: 2em;

}

/* Button */

button {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 1em 0 1em 0;
    font-weight: 700;

}

button:hover {

    cursor: pointer;

}

button:active {

    background-color: hsl(212, 21%, 14%);

}

/* Layout */

.container {
    
    margin: 30px auto;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;

}

main {

    margin: 1em;

}

.main-text {

    margin: 1em 0 2.5em 0;

}

.mobile {

    border-radius: 10px 10px 0 0;

}

.desktop {

    display: none;

}

.prices {

    display: flex;
    align-items: center;

}

/* Media Queries */

@media screen and (min-width: 575px) {
    
    .container {

        display: grid;
        grid-template-columns: .95fr 1fr;
        grid-template-rows: 1fr;
        max-width: 600px;
        margin: 100px auto;

    }

    .mobile {

        display: none;

    }

    .desktop {

        display: block;
        height: 100%;
        border-radius: 10px 0 0 10px;

    }

    main {
        margin-left: 2em;
    }

    h1 {

        margin: 1.5em 0;

    }

    h2 {

        line-height: 1em;
        margin-bottom: .75em;

    }

    .main-text {

        margin-bottom: .5em;

    }

    .prices {

        margin-bottom: 1em;

    }

}